    
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: beige;
            font-family:Arial, Helvetica, sans-serif
        }
        #about{
             width: 100vw;
            height: 100vh;
            padding: 0  5%;
            background-color: black;

        }
        #service{
             width: 100vw;
            height: 100vh;
            /* padding: ; */
            background-image: url(https://images.pexels.com/photos/34860678/pexels-photo-34860678.jpeg );
            background-image: url(https://images.pexels.com/photos/15307542/pexels-photo-15307542.jpeg);
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        #homepage {
            width: 100vw;
            height: 100vh;
            padding: 0  5%;
            background-color: #393c43;
             /* background-image: url(https://images.pexels.com/photos/35796/amazing-beautiful-beauty-blue.jpg ); */
            /* background-image: url(https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg ); */
            background-size: cover;
        }
        nav{
            width: 100%;
            height:10%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .logo{
            width:15%;
            height: 10%;
            display: flex;
            align-items: center;
            
        }
        img{
            width:50%;
            height: 800%;
        }
        .menu{
            width: 50%;
        }
        .menu > ul{
            display: flex;
             justify-content: space-between;
              align-items: center;
        }
        li , a{
            list-style: none;
            text-decoration: none;
        }
        li :hover{
            color: orange;
        }
        .search_bar{
            height:50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .search_bar> input{
            height: 80%;
            border: none;
        }
        main{
            width: 100%;
            height:90%;
            padding: 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        span{
            font-size: xx-large;
        }
        .content1{
            width:50%;
            height: 65vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            animation:fadeInLeft 0.5s ease-in-out 1s forwards;
            opacity: 0;

        }
         @keyframes fadeInLeft{
            0%{
                opacity: 0;
                transform: translateX(-50px);
            }
            100%{
                opacity: 1;
                transform: translateX(0);
            }
        }
        .login{
            width: 40%;
            height:70vh;
            padding: 5%;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 10px;
            animation:fadeInUp 0.5s ease-in-out 2s forwards;
            opacity: 0;
        }
        @keyframes fadeInUp{
            0%{
                opacity: 0;
                transform: translateY(50px);
            }
            100%{
                opacity: 1;
                transform: translateY(0);
            }
        }


        .loginhere{
            border-radius: 10px;
            padding: 5px;
            background-color:whitesmoke;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .spin{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        input{
            font-family:Arial, Helvetica, sans-serif;
            font-size: 15px;
            padding-left: 10px;

        }

